<router-outlet>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit amet a sunt eaque error alias maiores temporibus quae ullam voluptatibus provident consequuntur perspiciatis tenetur consequatur, explicabo fugiat quaerat eligendi accusantium.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis id non fugiat quibusdam tempora rem quasi optio placeat iure obcaecati error, molestias excepturi aperiam soluta molestiae dicta voluptatem. Numquam, eius.</p>
</router-outlet>